[Desktop Entry]
Name=WenQu
Name[zh_CN]=文曲
GenericName=WenQu
TryExec=/opt/WenQu/wenqu.sh
Exec=/opt/WenQu/wenqu.sh
Terminal=true
Type=Application
Keywords=Application;command;
Icon=/opt/WenQu/data/WenQu.svg
Categories=Utility;
StartupNotify=false
NoDisplay=false
