[Desktop Entry]
Name=WenQu
Name[zh_CN]=文曲
GenericName=WenQu
Comment=WenQu
TryExec=/opt/WenQu/main.py
Exec=bash -c 'poetry -C /opt/WenQu install >/dev/null; poetry -C /opt/WenQu run /opt/WenQu/main.py 2>/dev/null'
Terminal=true
Type=Application
Keywords=Application;command;
Icon=/opt/WenQu/data/WenQu.svg
Categories=Utility;
StartupNotify=false
NoDisplay=false
