[Desktop Entry]
Name=WenQu
Name[zh_CN]=文曲
GenericName=WenQu
TryExec=/opt/WenQu/wenqu.sh
Exec=/usr/bin/terminator -e "/opt/WenQu/wenqu.sh"
Terminal=false
Type=Application
Keywords=Application;command;
Icon=/opt/WenQu/data/WenQu.svg
Categories=Utility;
StartupNotify=true
NoDisplay=false
